@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Montserrat:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-neutral-50;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
    h1 {
        @apply md:text-4xl text-3xl font-bold;
    }
    h2 {
        @apply md:text-3xl text-2xl font-bold;
    }
    h3 {
        @apply md:text-2xl text-xl font-semibold;
    }
    h4 {
        @apply md:text-xl text-lg font-semibold;
    }
    h5 {
        @apply md:text-lg text-base font-medium;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        @apply text-neutral-700;
    }
    p,
    label {
        @apply text-neutral-700 md:text-base text-sm;
    }
}

@layer components {
    /* ---------------- // Button Component ---------------- */
    /* Button base */
    .btn {
        @apply py-2.5 px-4 inline-flex justify-center items-center gap-2 text-sm font-medium rounded-lg transition duration-300 ease-in-out;
        &:focus {
            @apply ring-2 outline-none;
        }
        &:disabled {
            @apply opacity-50 pointer-events-none;
        }
    }
    /* Primary Variant */
    .btn-primary {
        @apply border border-transparent bg-neutral-700 text-white;
        &:hover {
            @apply hover:bg-neutral-800;
        }
        &:focus {
            @apply ring-2 ring-neutral-700/50;
        }
    }
    /* Secondary Variant */
    .btn-secondary {
        @apply border border-transparent bg-neutral-100 text-neutral-700;
        &:hover {
            @apply hover:bg-neutral-200;
        }
        &:focus {
            @apply ring-2 ring-neutral-500/30;
        }
    }
    /* Link */
    .link {
        @apply underline text-sm text-neutral-800;
    }
    /* ---------------- // Button Component ---------------- */
    /* ---------------- Input Component ---------------- */
    /* Default Input */
    .default-input {
        @apply py-2.5 px-4 block w-full bg-neutral-100/40 border-neutral-200 rounded-lg text-sm placeholder:text-neutral-400 transition duration-300 ease-in-out;
        &:focus {
            @apply border-neutral-500 ring-neutral-500;
        }
        &:disabled {
            @apply opacity-50 pointer-events-none;
        }
    }
    /* Input Label */
    .input-label {
        @apply block text-sm font-medium;
    }
    /* Checkbox Input */
    .checkbox-input {
        @apply shrink-0 bg-neutral-100/40 border-neutral-200 rounded text-neutral-600  transition duration-300 ease-in-out;
        &:focus {
            @apply ring-neutral-500;
        }
        &:disabled {
            @apply opacity-50 pointer-events-none;
        }
    }
    /* ---------------- // Input Component ---------------- */
}
